.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #95A595;
  color: white;
}

.header h3 {
  margin: 0;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .nav a {
    margin: 10px 0;
  }

  .buttons {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
  }

  .buttons button {
    margin-left: 0;
    margin-right: 10px;
  }
}
